<form *ngIf="showAddTask" class="add-form" (ngSubmit)="onSubmit()">
    <div class="form-control">
        <label for="text">Task</label>
        <input type="text" name="text" id="text" [(ngModel)]="text" placeholder="Text for your task">    
    </div>
    <div class="form-control">
        <label for="day">Day & Time</label>
        <input type="day" name="day" id="day" [(ngModel)]="day" placeholder="Day & Time">    
    </div>
    <div class="form-control form-control-check">
        <label for="reminder">Set reminder</label>
        <input type="checkbox" name="reminder" id="reminder" [(ngModel)]="reminder">    
    </div>
    <input class="btn btn-block" type="submit" value="Save Task" >
</form>